* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: rgb(228, 86, 86);
}

.car {
  align-items: flex-end;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 50px auto;
  width: 470px;
}

.top,
.bottom {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.top {
  background: rgb(228, 86, 86);
  height: 60px;
  width: 455px;
}

.bottom {
  border-radius: 15px/100% 0 0 0;
  border-top: 7px solid white;
  background: rgb(160, 91, 206);
  height: 120px;
  width: 470px;
}

.wheel {
  background: rgb(74, 99, 114);
  border-radius: 50%;
  height: 72px;
  position: absolute;
  width: 72px;
}

.wheel__inner {
  background: rgb(182, 180, 180);
  border: 9px solid white;
  border-radius: 50%;
  height: 48px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 48px;
}

.top__front,
.bottom__front {
  height: 100%;
  position: relative;
  width: 120px;
}

.top__front__border {
  border-bottom: 60px solid white;
  border-left: 22px solid transparent;
  height: 60px;
}

.top__front__windshield {
  background: rgb(74, 99, 114);
  height: 30px;
  left: 6px;
  position: absolute;
  top: 23px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 1px;
}

.top__front__window-triangle {
  border-bottom: 50px solid rgb(87, 216, 255);
  border-left: 18px solid transparent;
  left: 6px;
  position: absolute;
  top: 5px;
}

.top__front__window-rectangle {
  height: 50px;
  left: 28px;
  position: absolute;
  top: 5px;
  width: 87px;
}

.window {
  background: rgb(87, 216, 255);
}

.bottom__front {
  position: relative;
}

.bottom__front > * {
  position: absolute;
}

@keyframes blinking {
  0% {
    background: rgb(253, 217, 57);
    -webkit-box-shadow: 0px 0px 17px yellow;
    -moz-box-shadow: 0px 0px 17px yellow;
    box-shadow: 0px 0px 17px yellow;
  }
}

.bottom__front__mirror {
  background: rgb(74, 99, 114);
  border-radius: 20%;
  height: 20px;
  left: 40px;
  top: -35px;
  width: 10px;
}

.bottom__front__mirror_handle {
  background: rgb(74, 99, 114);
  height: 30px;
  margin-left: 4px;
  width: 2px;
}

.bottom__front__door-knob {
  background: white;
  height: 2px;
  right: 0px;
  top: 30px;
  width: 12px;
}

.bottom__front__blinker {
  animation: blinking 2s infinite steps(2);
  background: rgb(231, 101, 14);
  border-radius: 50%;
  height: 10px;
  left: 5px;
  top: 30px;
  width: 5px;
}

.bottom__front__headlamp {
  -webkit-box-shadow: 0px 0px 17px yellow;
  -moz-box-shadow: 0px 0px 17px yellow;
  box-shadow: 0px 0px 17px yellow;
  background: white;
  border-radius: 50%;
  height: 25px;
  left: -5px;
  top: 40px;
  width: 10px;
}

.bottom__front__bumper {
  background: white;
  border: 1px solid rgb(188, 189, 189);
  border-radius: 35%;
  bottom: -6px;
  height: 20px;
  left: -10px;
  width: 20px;
  z-index: 2;
}

.bottom__middle,
.top__middle {
  width: 145px;
}

.top__middle,
.top__back {
  border: 5px solid white;
  height: 60px;
}

.bottom__back,
.top__back {
  width: 190px;
}

.top__back {
  background: white;
}

.top__back__window {
  border-radius: 0px 15px 0px 0px / 0px 50px 0px 0px;
  height: 50px;
  width: 145px;
}