* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: rgb(228, 86, 86);
}

.car {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 50px auto;
  width: 470px;
}

.top,
.bottom {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.top {
  background: rgb(228, 86, 86);
  height: 60px;
  width: 455px;
}

.bottom {
  border-radius: 15px/100% 0 0 0;
  border-top: 7px solid white;
  background: rgb(160, 91, 206);
  height: 120px;
  width: 470px;
}

.wheel {
  background: rgb(74, 99, 114);
  border-radius: 50%;
  height: 72px;
  position: absolute;
  width: 72px;
  z-index: 3;
}

.bottom__front__wheel {
  left: 9px;
  top: 9px;
}

.wheel__inner {
  background: rgb(182, 180, 180);
  border: 9px solid white;
  border-radius: 50%;
  height: 48px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 48px;
}

.bottom__front__wheel-space {
  background: rgb(228, 86, 86);
  border-radius: 30px 30px 0 0 / 50px 50px 0 0;
  bottom: -1px;
  height: 40px;
  left: 40px;
  position: absolute;
  width: 88px;
  z-index: 2;
}

.top__front,
.bottom__front {
  height: 100%;
  position: relative;
  width: 120px;
}

.top__front__border {
  border-bottom: 60px solid white;
  border-left: 22px solid transparent;
  height: 60px;
}

.top__front__windshield {
  background: rgb(74, 99, 114);
  height: 30px;
  left: 6px;
  position: absolute;
  top: 23px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 1px;
}

.top__front__window-triangle {
  border-bottom: 50px solid rgb(87, 216, 255);
  border-left: 18px solid transparent;
  left: 6px;
  position: absolute;
  top: 5px;
}

.top__front__window-rectangle {
  height: 50px;
  left: 28px;
  position: absolute;
  top: 5px;
  width: 87px;
}

.window {
  background: rgb(87, 216, 255);
}

.bottom__front {
  position: relative;
  width: 138px;
}

.bottom__front > * {
  position: absolute;
}

@keyframes blinking {
  0% {
    background: rgb(253, 217, 57);
    -webkit-box-shadow: 0px 0px 17px yellow;
    -moz-box-shadow: 0px 0px 17px yellow;
    box-shadow: 0px 0px 17px yellow;
  }
}

.bottom__front__mirror {
  background: rgb(74, 99, 114);
  border-radius: 20%;
  height: 20px;
  left: 40px;
  top: -35px;
  width: 10px;
}

.bottom__front__mirror_handle {
  background: rgb(74, 99, 114);
  height: 30px;
  margin-left: 4px;
  width: 2px;
}

.bottom__front__door {
  border-bottom: 0;
  border-radius: 30px / 100% 0 0 0;
  border-right: 0;
  height: 100%;
  left: 4px;
  width: calc(100% - 5px);
}

.bottom__front__door > * {
  background: white;
  position: absolute;
}

.bottom__front__door__bottom-left {
  bottom: 5px;
  height: 1px;
  width: 30px;
}


.bottom__front__door__bottom-middle {
  bottom: 24px;
  height: 1px;
  left: 16px;
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  width: 42px;
}


.bottom__front__door__bottom-right {
  bottom: 44px;
  height: 1px;
  left: 44px;
  width: 86px;
}

.bottom__front__door__knob {
  height: 2px;
  right: 5px;
  top: 30px;
  width: 12px;
}

.bottom__front__door__right-side {
  background: white;
  height: 69px;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
}

.bottom__front__blinker {
  animation: blinking 2s infinite steps(2);
  background: rgb(231, 101, 14);
  border-radius: 50%;
  height: 10px;
  left: 5px;
  top: 30px;
  width: 5px;
}

.bottom__front__headlamp {
  -webkit-box-shadow: 0px 0px 17px yellow;
  -moz-box-shadow: 0px 0px 17px yellow;
  box-shadow: 0px 0px 17px yellow;
  background: white;
  border-radius: 50%;
  height: 25px;
  left: -5px;
  top: 40px;
  width: 10px;
}

.bottom__front__bumper {
  left: -10px;
  width: 20px;
}

.bumper {
  background: white;
  border: 1px solid rgb(188, 189, 189);
  border-radius: 7px;
  bottom: -7px;
  height: 20px;
  z-index: 2;
}

.top__middle,
.bottom__middle {
  width: 140px;
}

.bottom__middle {
  border-right: 1px solid white;
}

.top__middle,
.top__back {
  border: 5px solid white;
  height: 60px;
}

.top__back,
.bottom__back {
  width: 200px;
}

.top__back {
  background: white;
  border-radius: 0 30px 0 0 / 0 100% 0 0
}

.bottom__back {
  position: relative;
}

.bottom__back > * {
  position: absolute;
}

.top__back__window {
  border-radius: 0 15px 0 0 / 0 50px 0 0;
  height: 50px;
  width: 140px;
}

.top__back__air-vents {
  height: 50px;
  position: absolute;
  top: 7px;
  right: 5px;
  width: 50px;
}

.top__back__air-vents__single {
  background: rgb(74, 99, 114);
  height: 1px;
  margin-bottom: 2px;
  width: 25px;
}

.top__back__air-vents__single:nth-child(2) {
  margin-left: 1px;
}

.top__back__air-vents__single:nth-child(3) {
  margin-left: 2px;
}

.top__back__air-vents__single:nth-child(4) {
  margin-left: 3px;
}

.top__back__air-vents__single:nth-child(5) {
  margin-left: 4px;
}

.top__back__air-vents__single:nth-child(6) {
  margin-left: 5px;
}

.top__back__air-vents__single:nth-child(7) {
  margin-left: 6px;
}

.top__back__air-vents__single:nth-child(8) {
  margin-left: 7px;
}

.top__back__air-vents__single:nth-child(9) {
  margin-left: 8px;
}

.top__back__air-vents__single:nth-child(10) {
  margin-left: 9px;
}

.top__back__air-vents__single:nth-child(11) {
  margin-left: 10px;
}

.top__back__air-vents__single:nth-child(12) {
  margin-left: 11px;
}

.top__back__air-vents__single:nth-child(13) {
  margin-left: 12px;
}

.top__back__air-vents__single:nth-child(14) {
  margin-left: 13px;
}

.top__back__air-vents__single:nth-child(15) {
  margin-left: 14px;
}

.top__back__air-vents__single:nth-child(16) {
  margin-left: 15px;
}

.bottom__back__fuel-tank {
  background: white;
  border-radius: 50%;
  height: 10px;
  right: 25px;
  top: 53px;
  width: 10px;
}

.bottom__back__wheel {
  left: 14px;
  top: -10px;
}

.bottom__back__wheel-space {
  background: rgb(228, 86, 86);
  border-radius: 15px 15px 0 0 / 50px 50px 0 0;
  bottom: -46px;
  height: 65px;
  left: 65px;
  width: 100px;
  overflow: hidden;
  z-index: 2;
}

.bottom__back__bumper {
  right: -12px;
  width: 35px;
}
