@import 'bus/main.css';
@import 'ground/main.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: rgb(146, 208, 210);
  margin: 0;
}

.body {
  height: calc(100vh - 50px);
}
